#!/bin/sh
set -eu

. "{{ healthchecks_credentials_file }}"

exec /usr/bin/curl \
  --fail \
  --silent \
  --show-error \
  --max-time 10 \
  --retry 6 \
  --retry-all-errors \
  --output /dev/null \
  "$HEALTHCHECKS_PING_URL"
