[Interface]
PrivateKey = {{ wireguard_private_key.content | b64decode | trim }}
ListenPort = {{ wireguard_listen_port }}

[Peer]
PublicKey = {{ wireguard_peer_public_key }}
AllowedIPs = {{ wireguard_peer_allowed_ips }}
Endpoint = {{ wireguard_peer_endpoint }}
PersistentKeepalive = {{ wireguard_persistent_keepalive }}
